PORT=3000
MONGO_URI=mongodb://<user>:<password>@localhost:27017/productdb?authSource=productdb
MONGO_ROOT_USER=<admin_user>
MONGO_ROOT_PASSWORD=<admin_password>
APP_DB_NAME=productdb
APP_DB_USER=<app_user>
APP_DB_PASSWORD=<app_password>